.dropdown-hero {
    background: #77b527;
    transition: 0.3s;
    border: 1px solid transparent;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    border-radius: 7px;
    span {
        color: white;
    }
    .btn.dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        width: 100px;
        height: 42px;
        &::after {
            display: none !important;
        }
        &:focus{
            box-shadow: none;
        }
        svg{
            display: none;
        }
    }
    ul{
        background-color: transparent;
        min-width: 66px;
        width: 144px;
        border: 1px solid #77b527;
        padding: 0;
        li{
            a{
                background-color: transparent;
                color: white;
                padding-left: 8px;
                &:hover{
                    background-color: transparent !important;
                    color: #77b527 !important;
                }
            }
            background-color: transparent;
            color: #77b527;
        }
    }

    &:hover {
        border: 1px solid #77b527;
        background: white;
        transition: 0.3s;
        span {
            color: #77b527;
        }
        svg {
            background: #77b527;
            border-radius: 50%;
            display: block !important;
            // path{

            //     fill: #77b527;
            // }
        }
    }
}
