    .slide-bar-taps {
        .nav-link {
            width: 100%;
        } // .nav-link {
        //     &.router-link-active {
        //         color: $maroon;
        //     }
        // }
        &.header-taps-selling {
            .nav-link {
                &.router-link-active {
                    color: $maroon !important;
                    font-weight: bold !important;
                    &:hover {
                        color: #F2F2F2 !important;
                    }
                }
                &.nav-link-sub {
                    margin-top: 0 !important;
                }
            }
        }
        &.header-taps-buying {
            .nav-link {
                &.router-link-active {
                    color: $green !important;
                    &:hover {
                        color: #F2F2F2 !important;
                    }
                }
                &.nav-link-sub {
                    margin-top: 0 !important;
                }
            }
        }
        &.slide-bar-taps-milky {
            border-color: $milky !important;
            hr {
                background-color: $milky !important;
            }
            .nav-link {
                &.router-link-active {
                    color: $milky !important;
                    font-weight: bold !important;
                    &:hover {
                        color: #F2F2F2 !important;
                        background: $milky !important;
                    }
                }
                &:hover {
                    color: #F2F2F2 !important;
                    background: $milky !important;
                }
            }
        }
        &.slide-bar-taps-maroon {
            border-color: $maroon !important;
            hr {
                background-color: $maroon !important;
            }
            .nav-link {
                &.router-link-active {
                    color: $maroon !important;
                    font-weight: bold !important;
                    &:hover {
                        color: #F2F2F2 !important;
                        background: $maroon !important;
                    }
                }
                &:hover {
                    color: #F2F2F2 !important;
                    background: $maroon !important;
                }
            }
        }
        &.slide-bar-taps-green {
            border-color: $green !important;
            hr {
                background-color: $green !important;
            }
            .nav-link {
                color: $offwhite !important;
                &.router-link-active {
                    color: $green !important;
                    font-weight: bold !important;
                    &:hover {
                        color: #F2F2F2 !important;
                        background: $green !important;
                    }
                }
                &:hover {
                    color: #F2F2F2 !important;
                    background: $green !important;
                }
            }
        }
    }