.shop-details .cont-img {
  width: 100%;
  overflow: hidden;
}

#preloder {
  display: none !important;
  opacity: 0 !important;
}

.w-120 {
  width: 120px !important;
}

.d-block1 {
  display: block !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.text-offwhite {
  color: #ffe0e0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-maroon {
  color: #fd1266 !important;
}

.text-milky {
  color: #00ccff !important;
}

.bg-maroon {
  background: #fd1266 !important;
}

.fs-14 {
  font-size: 14px !important;
}

.h-60 {
  height: 60px !important;
}

.h-40 {
  height: 40px !important;
}

.bg-transparent {
  background: transparent !important;
}

.swal2-select {
  display: none !important;
}

.text-green {
  color: #7ac943 !important;
}

@media (max-width: 992px) {
  .pr-sm-0 {
    padding-right: 0 !important;
  }
}

.border-color-green {
  border-color: #7ac943 !important;
}

.border-color-milky {
  border-color: #00ccff !important;
}

.border-yellow {
  border: 1px solid #fecc2f !important;
}

@media (max-width: 992px) {
  .pl-sm-0 {
    padding-left: 0 !important;
  }
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.show-password {
  position: absolute;
  top: 47px;
  right: 22px;
  color: white;
  font-size: 20px;
}

.divider-x {
  height: 1px;
  opacity: 1;
}

.custom-checkbox label {
  width: 100% !important;
  background: transparent !important;
  color: #fff;
  border: none !important;
  text-align: left;
  padding-left: 18px !important;
  top: 18px;
  left: 0px !important;
}
.custom-checkbox label::before {
  content: "";
  border: 1px solid #fd1266;
  position: absolute;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -10px !important;
}
.custom-checkbox label::after {
  left: -7px !important;
}
.custom-checkbox input[type=checkbox]:checked + label {
  background: transparent;
}
.custom-checkbox input[type=checkbox]:checked + label::before {
  background: #fd1266;
}

.custom_radio {
  text-align: left;
}

.custom_radio input[type=radio] {
  display: none;
}

.custom_radio input[type=radio] + label {
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom_radio input[type=radio] + label:before,
.custom_radio input[type=radio] + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom_radio input[type=radio] + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
}

.custom_radio input[type=radio] + label:hover:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #fd1266;
}

.custom_radio input[type=radio]:checked + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0em white, inset 0 0 0 1em #fd1266;
}

.btn-green {
  background: #7ac943 !important;
}
.btn-green:hover {
  background: white !important;
  color: #7ac943 !important;
}

.btn-maroon {
  background: #fd1266 !important;
}
.btn-maroon:hover {
  background: white !important;
  color: #fd1266 !important;
}

.btn-milky {
  background: #00ccff !important;
}
.btn-milky:hover {
  background: white !important;
  color: #00ccff !important;
}

.btn-gray {
  background: gray !important;
}
.btn-gray:hover {
  background: white !important;
  color: gray !important;
}

.btn-outline-offwhite {
  color: #ffe0e0 !important;
  border: 1px solid #ffe0e0 !important;
  height: 40px !important;
}
.btn-outline-offwhite:hover {
  background: #ffe0e0 !important;
  color: #000 !important;
}

.btn-outline-white {
  color: #fff !important;
  border: 1px solid #fff !important;
  height: 40px !important;
}
.btn-outline-white:hover {
  background: #fff !important;
  color: #000 !important;
}

.btn-outline-maroon {
  color: #fd1266 !important;
  border: 1px solid #fd1266 !important;
  height: 40px !important;
}
.btn-outline-maroon:hover {
  background: #fd1266 !important;
  color: #ffe0e0 !important;
}

.heaer-tabs-yellow .router-link-exact-active,
.heaer-tabs-yellow .router-link-active {
  color: #fecc2f !important;
}

.border-yellow {
  border: 1px solid #FECC2F !important;
}

.border {
  border: 1px solid transparent;
}

.border-milky {
  border-color: #00ccff !important;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-maroon {
  border: 1px solid #fd1266;
}

.border-radius-5 {
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .border-maroon-lg-right {
    border-right: 2px solid #fd1266;
  }
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-20 {
  border-radius: 20px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-login {
  background: transparent !important;
}
.btn-login:focus {
  box-shadow: none !important;
}
.btn-login:hover {
  background: transparent !important;
}

@media (min-width: 992px) {
  .shop-details .product__details__pic .col-lg-8 {
    padding-right: 108px;
  }
}
.shop-details .product__details__pic .col-lg-8 .parent-tats .nav-link {
  border-radius: 8px;
  border: 1px solid transparent;
}
.shop-details .product__details__pic .col-lg-8 .parent-tats .nav-link:hover, .shop-details .product__details__pic .col-lg-8 .parent-tats .nav-link.active {
  border: 1px solid #fd1266;
}
.shop-details .detail-top {
  padding-right: 0 !important;
}
.shop-details .product__details__pic .des {
  margin-top: 4px;
  margin-bottom: 30px;
}
.shop-details .product__details__pic .des .item .nav-link {
  padding: 0;
}
.shop-details .product__details__pic .des .item .nav-link .product__thumb__pic {
  border-radius: 8px;
}
.shop-details .shop-details-table {
  overflow: hidden;
  margin-bottom: 36px;
}
.shop-details .shop-details-table .row {
  padding: 13px 14px;
  border-bottom: 1px solid #ffe0e0;
  font-size: 20px;
}
.shop-details .shop-details-table .row .inner {
  padding: 12px 0;
}
.shop-details .shop-details-table .row .inner-title {
  color: #7ac943;
  padding: 0;
}
.shop-details .shop-details-table .row .inner-value {
  color: #fecc2f;
}

.selling .over-lay-selling {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.selling .header-taps .nav-link:nth-of-type(4),
.selling .header-taps .nav-link:nth-of-type(5),
.selling .header-taps .nav-link:nth-of-type(6),
.selling .header-taps .nav-link:nth-of-type(7) {
  padding-left: 13px;
}
.selling .header-taps hr {
  background-color: #fd1266;
}
.selling.buying .header-taps .nav-link:hover, .selling.buying .header-taps .nav-link.active {
  background: #7ac943 !important;
}
@media (max-width: 1200px) {
  .selling .top-tabs {
    position: sticky;
    top: 0;
    background: #111b29;
    z-index: 2;
  }
}
@media (max-width: 1200px) {
  .selling .header-taps {
    z-index: 4;
    position: fixed;
    right: 8px;
    left: 8px;
    top: 193px;
    background: #0f243c;
    display: none;
  }
}
.selling .box-shadow-taps {
  box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.7) !important;
}

@media (max-width: 1000px) {
  .header {
    height: 160px;
  }
}
@media (max-width: 500px) {
  .header .container {
    padding: 0;
    padding-top: 6px;
  }
}
@media (max-width: 500px) {
  .header {
    padding-left: 4px;
  }
}
@media (max-width: 1000px) {
  .header .container {
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .header .container {
    max-width: 99%;
  }
}
@media (min-width: 1200px) {
  .header .links-header-mobil {
    display: none !important;
  }
}
.header .links-header-mobil .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header .links-header-mobil .icons {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
}
.header .links-header-mobil .notif-cont {
  left: -181px;
}
.header .links-header-mobil .notif-cont {
  width: 268px;
}
.header .dropdown-cats ul li {
  margin-bottom: 4px !important;
}
.header .dropdown-cats ul li:last-of-type {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

#mobile-menu-wrap li {
  list-style: none;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 0.25rem 0rem;
  clear: both;
  font-weight: 400;
  color: #dee2e6;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
#mobile-menu-wrap li a {
  display: block;
  width: 100%;
  padding: 0.25rem 0rem;
  clear: both;
  font-weight: 400;
  color: #dee2e6;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 0.875em;
}
#mobile-menu-wrap .dropdown button {
  color: #23ccfd;
  border: 1px solid #23ccfd;
  padding-right: 46px;
  position: relative;
}
#mobile-menu-wrap .dropdown button:focus {
  box-shadow: none;
}
#mobile-menu-wrap .dropdown .dropdown-menu {
  background: #111B29;
  padding: 0px 7px 3px 17px;
  border: none;
  position: static !important;
  transform: none !important;
}
#mobile-menu-wrap .dropdown .dropdown-menu li a {
  font-size: 0.775em;
}
#mobile-menu-wrap #dropdownMenuMobile {
  width: 146px !important;
}
#mobile-menu-wrap #dropdownMenuMobile::after {
  position: absolute;
  right: 10px;
  top: 14px;
}
#mobile-menu-wrap .item-border {
  border-top: 2px solid #fd1266;
}
#mobile-menu-wrap .login-menu {
  padding: 0.6em 1em;
  padding: 0.6em 1em;
  background: #fd1266;
  width: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50em;
}

@media (max-width: 620px) {
  .header_mobil_guest {
    height: 111px;
    padding-top: 0px;
    padding-left: 10px;
  }
}

.custom-vue-select .vs__dropdown-toggle {
  border: 1px solid #42525e;
  height: 60px;
}
.custom-vue-select input {
  border: none !important;
  height: auto !important;
  margin-bottom: 0 !important;
}
.custom-vue-select input:focus {
  box-shadow: none !important;
}

.vs__open-indicator {
  fill: #ffe0e0 !important;
}

.vs__clear {
  display: none !important;
}

input:disabled {
  background: transparent !important;
  opacity: 0.2 !important;
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  background: transparent !important;
}

.canvas__open_guest {
  top: -65px !important;
  position: absolute !important;
  right: 0px;
  border: none;
}
.canvas__open_guest a {
  display: flex;
}
.canvas__open_guest a i {
  margin-left: 8px;
}
@media (min-width: 576px) {
  .canvas__open_guest {
    top: -15px !important;
  }
}

.offcanvas__option i {
  color: #dee2e6;
}

@media (max-width: 656px) {
  .header .logo-web {
    display: none;
  }
}
.header .logo-mobil {
  max-height: 73px;
}
@media (min-width: 656px) {
  .header .logo-mobil {
    display: none;
  }
}
.header .mobile-search {
  border: 1px solid #ffe0e0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .header #dropdownMenuMarket {
    padding: 0 11px;
    margin-right: 12px;
  }
}
@media (max-width: 1200px) {
  .header .canvas__open {
    top: 55px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    position: static;
  }
}
@media (max-width: 576px) {
  .header .canvas__open {
    top: 92px;
  }
}
.header .canvas__open span {
  display: block;
  width: 16px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  box-shadow: 0 0 3px 0px #fff;
}
.header .canvas__open span:nth-child(2) {
  width: 20px;
}
@media (max-width: 500px) {
  .header .icons-mobil {
    margin-bottom: 5px;
  }
}

.shop-details .product__details__pic .owl-carousel .owl-stage-outer {
  z-index: 1;
}
.shop-details .product__details__pic .product__thumb__pic {
  border-radius: 8px;
}
.shop-details .product__details__pic .owl-nav {
  display: none !important;
  position: absolute;
  width: 100%;
  top: 29%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-details .product__details__pic .owl-nav .owl-prev,
.shop-details .product__details__pic .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fd1266;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 2;
}
.shop-details .product__details__pic .owl-nav .owl-prev span,
.shop-details .product__details__pic .owl-nav .owl-next span {
  font-size: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0;
  color: #fff;
  padding-bottom: 4px;
}
@media (min-width: 922px) {
  .shop-details .product__details__pic .owl-nav .owl-prev {
    transform: translateX(-24px);
  }
}
@media (min-width: 922px) {
  .shop-details .product__details__pic .owl-nav .owl-next {
    transform: translateX(24px);
  }
}
.shop-details .product__details__pic .owl-dots .owl-dot.active span {
  background: #fd1266;
}
.shop-details .product__details__pic .imgs-product .product__thumb__pic {
  height: 660px;
}
.shop-details .product__details__pic .imgs-product .product__thumb__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.shop-details .product__details__pic .imgs-product .img-tabs .inner-imgs-tabs .item {
  border-radius: 10px;
  border: 2px solid transparent;
  overflow: hidden;
}
.shop-details .product__details__pic .imgs-product .img-tabs .inner-imgs-tabs .item figure {
  height: 135px;
}
.shop-details .product__details__pic .imgs-product .img-tabs .inner-imgs-tabs .item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}
.shop-details .product__details__pic .imgs-product .img-tabs .inner-imgs-tabs .item.active {
  border: 2px solid #fd1266;
}
.shop-details .title-shipping-details {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.dropdown-hero {
  background: #77b527;
  transition: 0.3s;
  border: 1px solid transparent;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  border-radius: 7px;
}
.dropdown-hero span {
  color: white;
}
.dropdown-hero .btn.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 100px;
  height: 42px;
}
.dropdown-hero .btn.dropdown-toggle::after {
  display: none !important;
}
.dropdown-hero .btn.dropdown-toggle:focus {
  box-shadow: none;
}
.dropdown-hero .btn.dropdown-toggle svg {
  display: none;
}
.dropdown-hero ul {
  background-color: transparent;
  min-width: 66px;
  width: 144px;
  border: 1px solid #77b527;
  padding: 0;
}
.dropdown-hero ul li {
  background-color: transparent;
  color: #77b527;
}
.dropdown-hero ul li a {
  background-color: transparent;
  color: white;
  padding-left: 8px;
}
.dropdown-hero ul li a:hover {
  background-color: transparent !important;
  color: #77b527 !important;
}
.dropdown-hero:hover {
  border: 1px solid #77b527;
  background: white;
  transition: 0.3s;
}
.dropdown-hero:hover span {
  color: #77b527;
}
.dropdown-hero:hover svg {
  background: #77b527;
  border-radius: 50%;
  display: block !important;
}

.hero .swiper-container {
  height: calc(100vh - 128px);
}
.hero.hero-logged {
  background-position: center !important;
  background-size: cover !important;
}

.header-taps .nav-link,
.header-taps .nav-pills button {
  display: flex;
  align-items: center;
  margin: 8px 0 !important;
  padding-left: 6px !important;
}
.header-taps .nav-link:hover,
.header-taps .nav-pills button:hover {
  color: #ffe0e0 !important;
}
.header-taps .nav-link-sub {
  font-size: 16px !important;
  font-weight: normal !important;
}
.header-taps.header-taps-setting {
  border-color: #fd1266 !important;
}
.header-taps.header-taps-setting hr {
  background-color: #fd1266 !important;
}

.selling input::placeholder,
.selling .upload-img input,
.selling textarea::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
  font-style: italic;
}
.selling .message-error {
  color: #fd1266;
}
svg.img-subscription {
  max-height: 650px;
}

.subscriptions .inner {
  border: 1px solid #fd1266;
}

.slide-bar-taps .nav-link {
  width: 100%;
  color: #ffe0e0 !important;
}
.slide-bar-taps.header-taps-selling .nav-link {
  color: #ffe0e0 !important;
}
.slide-bar-taps.header-taps-selling .nav-link.router-link-active {
  color: #fd1266 !important;
  font-weight: bold !important;
}
.slide-bar-taps.header-taps-selling .nav-link.router-link-active:hover {
  color: #F2F2F2 !important;
}
.slide-bar-taps.header-taps-selling .nav-link.nav-link-sub {
  margin-top: 0 !important;
}
.slide-bar-taps.header-taps-buying .nav-link.router-link-active {
  color: #7ac943 !important;
}
.slide-bar-taps.header-taps-buying .nav-link.router-link-active:hover {
  color: #F2F2F2 !important;
}
.slide-bar-taps.header-taps-buying .nav-link.nav-link-sub {
  margin-top: 0 !important;
}
.slide-bar-taps.slide-bar-taps-milky {
  border-color: #00ccff !important;
}
.slide-bar-taps.slide-bar-taps-milky hr {
  background-color: #00ccff !important;
}
.slide-bar-taps.slide-bar-taps-milky .nav-link {
  color: #ffe0e0 !important;
}
.slide-bar-taps.slide-bar-taps-milky .nav-link.router-link-active {
  color: #00ccff !important;
  font-weight: bold !important;
}
.slide-bar-taps.slide-bar-taps-milky .nav-link.router-link-active:hover {
  color: #F2F2F2 !important;
  background: #00ccff !important;
}
.slide-bar-taps.slide-bar-taps-milky .nav-link:hover {
  color: #F2F2F2 !important;
  background: #00ccff !important;
}
.slide-bar-taps.slide-bar-taps-maroon {
  border-color: #fd1266 !important;
}
.slide-bar-taps.slide-bar-taps-maroon hr {
  background-color: #fd1266 !important;
}
.slide-bar-taps.slide-bar-taps-maroon .nav-link {
  color: #ffe0e0 !important;
}
.slide-bar-taps.slide-bar-taps-maroon .nav-link.router-link-active {
  color: #fd1266 !important;
  font-weight: bold !important;
}
.slide-bar-taps.slide-bar-taps-maroon .nav-link.router-link-active:hover {
  color: #F2F2F2 !important;
  background: #fd1266 !important;
}
.slide-bar-taps.slide-bar-taps-maroon .nav-link:hover {
  color: #F2F2F2 !important;
  background: #fd1266 !important;
}
.slide-bar-taps.slide-bar-taps-green {
  border-color: #7ac943 !important;
}
.slide-bar-taps.slide-bar-taps-green hr {
  background-color: #7ac943 !important;
}
.slide-bar-taps.slide-bar-taps-green .nav-link {
  color: #ffe0e0 !important;
}
.slide-bar-taps.slide-bar-taps-green .nav-link.router-link-active {
  color: #7ac943 !important;
  font-weight: bold !important;
}
.slide-bar-taps.slide-bar-taps-green .nav-link.router-link-active:hover {
  color: #F2F2F2 !important;
  background: #7ac943 !important;
}
.slide-bar-taps.slide-bar-taps-green .nav-link:hover {
  color: #F2F2F2 !important;
  background: #7ac943 !important;
}

.chat-private .seller-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.chat-private .seller-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.chat-private #chat-list {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 18px;
  padding-right: 11px;
}
.chat-private #chat-list .msg {
  padding: 10px;
  border-radius: 13px;
  color: white !important;
}
.chat-private #chat-list .msg.msg-to {
  background: #fd1266;
  margin-right: 30%;
}
.chat-private #chat-list .msg.msg-from {
  background: #7ac943;
  margin-left: 30%;
}

.c-position-static {
  position: static !important;
}

/*# sourceMappingURL=new-style.css.map */
