    $green: #7ac943;
    $maroon: #fd1266;
    $milky: #00ccff;
    $purple: #9f72fc;
    $yellow: #fecc2f;
    $bgHeader: #0f243c;
    $darkBlue: #20303c;
    $offwhite: #ffe0e0;
    $gray: gray;
    $mobil: 768px;
    $lab: 1200px;
    $sm: 576px;
    .shop-details .cont-img {
        width: 100%;
        overflow: hidden;
    }

    .d-block1 {
        display: block !important;
    }

    .text-offwhite {
        color: $offwhite !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    #preloder {
        display: none !important;
    }

    .text-maroon {
        color: $maroon !important;
    }

    .bg-maroon {
        background: $maroon !important;
    }

    .fs-14 {
        font-size: 14px !important;
    }

    .h-60 {
        height: 60px !important;
    }

    .h-40 {
        height: 40px !important;
    }

    .bg-transparent {
        background: transparent !important;
    }

    .swal2-select {
        display: none !important;
    }

    .text-green {
        color: $green !important;
    }

    .pr-sm-0 {
        @media (max-width: 992px) {
            padding-right: 0 !important;
        }
    }

    .border-color-green {
        border-color: $green !important;
    }

    .border-yellow {
        border: 1px solid $yellow !important;
    }

    .pl-sm-0 {
        @media (max-width: 992px) {
            padding-left: 0 !important;
        }
    }

    .divider-x {
        height: 1px;
        opacity: 1;
        // margin: 4px;
        // margin-bottom: 0px;
        // width: 122px;
        // margin-right: auto;
        // margin-left: auto;
    }

    .custom-checkbox {
        label {
            width: 100% !important;
            background: transparent !important;
            color: #fff;
            border: none !important;
            text-align: left;
            padding-left: 18px !important;
            top: 18px;
            left: 0px !important;
            &::before {
                content: '';
                border: 1px solid #fd1266;
                position: absolute;
                top: 0px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: -10px !important;
            }
            &::after {
                left: -7px !important
            }
        }
        input[type=checkbox]:checked+label {
            background: transparent;
            &::before {
                background: #fd1266;
            }
        }
    }

    .btn-green {
        background: $green !important;
        &:hover {
            background: white !important;
            color: $green !important;
        }
    }

    .btn-maroon {
        background: $maroon !important;
        &:hover {
            background: white !important;
            color: $maroon !important;
        }
    }

    .btn-gray {
        background: $gray !important;
        &:hover {
            background: white !important;
            color: $gray !important;
        }
    }

    .btn-outline-offwhite {
        color: $offwhite !important;
        border: 1px solid $offwhite !important;
        height: 40px !important;
        &:hover {
            background: $offwhite !important;
            color: #000 !important;
        }
    }

    .btn-outline-maroon {
        color: $maroon !important;
        border: 1px solid $maroon !important;
        height: 40px !important;
        &:hover {
            background: $maroon !important;
            color: $offwhite !important;
        }
    }

    .heaer-tabs-yellow {
        .router-link-exact-active.router-link-active {
            background: $yellow
        }
    }

    .border-yellow {
        border: 1px solid #FECC2F !important;
    }

    .border-maroon {
        border: 1px solid $maroon;
    }

    .border-maroon-lg-right {
        @media (min-width: 1200px) {
            border-right: 2px solid $maroon;
        }
    }

    .border-radius-10 {
        border-radius: 10px !important;
    }

    .border-radius-20 {
        border-radius: 20px !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn-login {
        background: transparent !important;
        &:focus {
            box-shadow: none !important
        }
        &:hover {
            background: transparent !important;
        }
    }

    .shop-details {
        .product__details__pic .col-lg-8 {
            @media (min-width: 992px) {
                padding-right: 108px;
            }
            .parent-tats {
                .nav-link {
                    border-radius: 8px;
                    border: 1px solid transparent;
                    &:hover,
                    &.active {
                        border: 1px solid #fd1266;
                    }
                }
            }
        }
        .detail-top {
            padding-right: 0 !important
        }
        .product__details__pic {
            // .product__details__pic__item {
            //     img {
            //         width: auto !important;
            //     }
            // }
            .des {
                margin-top: 4px;
                margin-bottom: 30px;
                .item {
                    .nav-link {
                        padding: 0;
                        .product__thumb__pic {
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
        .shop-details-table {
            overflow: hidden;
            margin-bottom: 36px;
            .row {
                padding: 13px 14px;
                border-bottom: 1px solid $offwhite;
                .inner {
                    padding: 12px 0;
                }
                font-size: 20px;
                .inner-title {
                    color: $green;
                    padding: 0;
                }
                .inner-value {
                    color: $yellow;
                }
            }
        }
    }

    .selling {
        .over-lay-selling {
            position: absolute;
            inset: 0;
            background: rgb(0 0 0 / 40%);
            z-index: 3;
        }
        .header-taps .nav-link:nth-of-type(4),
        .header-taps .nav-link:nth-of-type(5),
        .header-taps .nav-link:nth-of-type(6),
        .header-taps .nav-link:nth-of-type(7) {
            padding-left: 13px;
        }
        .header-taps {
            .nav-link {
                &:hover,
                &.active {
                    background: $maroon !important;
                }
            }
            hr {
                background-color: $maroon;
            }
        }
        &.buying {
            .header-taps {
                .nav-link {
                    &:hover,
                    &.active {
                        background: $green !important;
                    }
                }
            }
        }
        .top-tabs {
            @media (max-width: 1200px) {
                position: sticky;
                top: 0;
                background: #111b29;
                z-index: 2;
            }
        }
        .header-taps {
            @media (max-width: 1200px) {
                z-index: 4;
                position: fixed;
                right: 8px;
                left: 8px;
                top: 193px;
                background: $bgHeader;
                display: none;
            }
        }
        .box-shadow-taps {
            box-shadow: 0 .125rem .25rem rgb(255 255 255 / 70%)!important;
        }
    }

    .header {
        @media (max-width: 1000px) {
            height: 160px;
        }
        .container {
            @media (max-width: 500px) {
                padding: 0;
                padding-top: 6px;
            }
        }
        @media (max-width: 500px) {
            padding-left: 4px;
        }
        .container {
            @media (max-width: 1000px) {
                max-width: 95%;
            }
            @media (max-width: 500px) {
                max-width: 99%;
            }
        }
        .links-header-mobil {
            @media (min-width: 1200px) {
                display: none !important;
            }
        }
        .links-header-mobil {
            .icons {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                //   padding-right: 50px;
                @media (max-width: 576px) {
                    display: flex;
                    align-items: center;
                    margin-top: 16px;
                }
            }
            .notif-cont {
                left: -181px;
            }
            .notif-cont {
                width: 268px;
            }
        }
        .dropdown-cats {
            ul {
                li {
                    margin-bottom: 4px !important;
                    &:last-of-type {
                        margin-bottom: 0 !important;
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }

    #mobile-menu-wrap {
        li {
            list-style: none;
            color: white;
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
            width: 100%;
            padding: .25rem 0rem;
            clear: both;
            font-weight: 400;
            color: #dee2e6;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            a {
                display: block;
                width: 100%;
                padding: .25rem 0rem;
                clear: both;
                font-weight: 400;
                color: #dee2e6;
                text-align: inherit;
                text-decoration: none;
                white-space: nowrap;
                background-color: transparent;
                border: 0;
                font-size: .875em;
            }
        }
        .dropdown {
            button {
                color: #23ccfd;
                border: 1px solid #23ccfd;
                padding-right: 46px;
                position: relative;
                &:focus {
                    box-shadow: none;
                }
            }
            .dropdown-menu {
                background: #111B29;
                padding: 0px 7px 3px 17px;
                border: none;
                // transform: translate3d(0px, 0px, 0px) !important;
                // position: static !important;
                position: static !important;
                transform: none !important;
                li {
                    a {
                        font-size: 0.775em;
                    }
                }
            }
        }
        #dropdownMenuMobile {
            width: 146px !important;
        }
        #dropdownMenuMobile::after {
            position: absolute;
            right: 10px;
            top: 14px;
        }
        .item-border {
            border-top: 2px solid #fd1266;
        }
        .login-menu {
            padding: .6em 1em;
            padding: 0.6em 1em;
            background: #fd1266;
            width: 106px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50em;
        }
    }

    .header_mobil_guest {
        @media (max-width: 620px) {
            height: 111px;
            padding-top: 0px;
            padding-left: 10px;
        }
    }

    .custom-vue-select {
        .vs__dropdown-toggle {
            border: 1px solid #42525e;
            height: 60px;
        }
        input {
            border: none !important;
            height: auto !important;
            margin-bottom: 0 !important;
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    input:disabled {
        background: transparent !important;
        opacity: 0.2 !important;
    }

    .vs--disabled .vs__clear,
    .vs--disabled .vs__dropdown-toggle,
    .vs--disabled .vs__open-indicator,
    .vs--disabled .vs__search,
    .vs--disabled .vs__selected {
        background: transparent !important;
    }

    .canvas__open_guest {
        top: -65px !important;
        position: absolute !important;
        right: 0px;
        border: none;
        a {
            display: flex;
            i {
                margin-left: 8px;
            }
        }
        @media (min-width: 576px) {
            top: -15px !important;
        }
    }

    .offcanvas__option {
        i {
            color: #dee2e6;
        }
    }

    .header {
        .logo-web {
            @media (max-width: 656px) {
                display: none;
            }
        }
        .logo-mobil {
            max-height: 73px;
            @media (min-width: 656px) {
                display: none;
            }
        }
        .mobile-search {
            border: 1px solid #ffe0e0;
            border-radius: 50%;
            width: 35px;
            height: 35px;
        }
        #dropdownMenuMarket {
            @media (min-width: 1000px) and (max-width: 1200px) {
                padding: 0 11px;
                margin-right: 12px;
            }
        }
        .canvas__open {
            @media (max-width: 1200px) {
                top: 55px;
                padding-top: 8px;
                display: flex;
                align-items: center;
                justify-items: center;
                flex-direction: column;
                position: static;
            }
            @media (max-width: $sm) {
                top: 92px;
            }
            span {
                display: block;
                width: 16px;
                height: 3px;
                background-color: #fff;
                margin-bottom: 5px;
                box-shadow: 0 0 3px 0px #fff;
                &:nth-child(2) {
                    width: 20px;
                }
            }
        }
        .icons-mobil {
            @media (max-width: 500px) {
                margin-bottom: 5px;
            }
        }
    }

    @import './shop-details';
    @import './include/home';
    @import './include/only-vue/sell-item';
    @import './include/selling';
    @import './include/subscription';
    @import './include/slide-bar-taps';
    .c-position-static {
        position: static !important;
    }
